<head>
    <meta charset="utf-8" />
    <title>ClassFeature</title>
    <link rel="stylesheet" type="text/css" href="/css/CommonNew.css?ver=20240527" />
    <link rel="stylesheet" href="/css/Megero.css" />
    <link rel="stylesheet" href="/css/DailyCheck.css" />
    <link rel="stylesheet" href="/css/ClassFeatureDetail.css" />
    <link rel="stylesheet" href="/css/ClassFeature.css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.custom.min.js"></script>
</head>